 #nav-bar {
   position: fixed;
   top: 0;
   height: 80px;
   width: 100%;
   background-color: $cNavBg;
   color: $cNavText;
   padding-left: 2em;
   padding-right: 2em;
   z-index: 100;
 }

 #nav-bar .logo {
   width: 80px;
   height: 80px;
   float: left;
   margin-right: 10px;
 }

 #nav-bar .header {
   float: left;
   line-height: 150%;
   font-size: 3em;
 }

 #nav-bar button {
   border-radius: 5px;
   border: 1px solid $cNavButtonBorder;
   padding: 1em;
   background-color: $cNavButtonBg;
   float: right;
   margin-right: 2em;
   margin-top: 1em;
   color: $cNavButtonText;
 }

 #nav-bar button:hover {
   color: $cNavButtonBorder;
   cursor: pointer;
 }