
section.new-tweet {
  border: solid 1px $cMidGray;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  background-color: $cLightMidGray;
  margin-left: 2em;
  margin-right: 2em;
	margin-bottom: 2em;
	display: none;

	textarea {
		padding: .5em;
		width: 100%;
		@include border-radius("3px");
		border-color: $cLightMidGray;
	}
	/**********************/
	/****** BUTTON ********/
	/**********************/
	.myButton {
		@include box-shadow(inset, 0px, 1px, 0px, 0px, $cMainWhite);
		@include background-gradient($cButtonFrom, $cButtonTo);
		background-color: $cButtonFrom;
		@include border-radius("2px");
		border:1px solid $cButtonBorder;
		display:inline-block;
		cursor:pointer;
		color: $cLightMidGray;
		font-size:1em;
		font-weight:lighter;
		padding: .3em 1em;
		text-decoration:none;
	}
	.myButton:hover {
		@include background-gradient($cButtonTo, $cButtonFrom);
		background-color: $cButtonTo;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}
	.counter {
		float: right;
	}
}

.warning-text-count {
	color: $cWarningText;
}
.error-div {
	display: none;
}
.error {
	color: $cWarningText;
	background-color: $cWarningBg;
	padding: .5em;
	display: block;
}