#tweets-container .social {
  float: right;
  margin-top: 1em;
  display: none;
  
  img {
    width: 25px;
    height: 25px;
    margin-right: .5em;
    filter: grayscale(1);
  }
}

#tweets-container p {
  word-wrap: break-word;
}

#tweets-container article {
  border: 1px solid $cNavButtonText;
  border-radius: 15px;
  background-color: $cMainWhite;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
  overflow: hidden;
  
  /**************************/
  /********* hover **********/
  /**************************/
  &:hover header {
    opacity: 1;
  }
  &:hover .social{
    display: block;
    
    img:hover{
      filter: grayscale(0.2);
    }
  }
  header {
    background-color: $cBodyWhite;
    padding: .5em;
    opacity: 0.8;

    img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      float: left;
      background-color: $cMainWhite;
    }

    h2 {
      color: $cMidGray;
      float: left;
      margin-left: .5em;
      line-height: 150%;
      font-weight: 700;
      font-size: 2em;
    }
    h4 {
      color: $cLightMidGray;
      font-weight: lighter;
      float: right;
      line-height: 20%;
      font-size: 1.1em;
    }
  }
  p {
    padding: .5em;
    font-size: 1.3em;
  }
  hr {
    border-color: $cBodyWhite;
    margin: 0;
    opacity: 0.2;
  }
  footer {
    padding: 0;
    border-top: 1px $cMidGray solid;
    height: 3em;
    
    h5 {
      padding: 0;
      padding-left: .5em;
      font-weight: 300;
      font-size: 1em;
      line-height: 20%;
      float: left;
    }
  }
}