// Colours
$cText: #244751;
$cBodyWhite: #eee;
$cHorizontalRule: #999;
$cMainWhite: white;
$cNavBg: #00a087;
$cNavText: #e8fdff;
$cNavButtonBorder: #333;
$cNavButtonBg: #fefefe;
$cNavButtonText: #aaa;
$cMidGray: #555;
$cLightMidGray: lighten($cMidGray, 20%);
$cDarkMidGray: darken($cMidGray, 20%);
$cWarningText: tomato;
$cWarningBg: orange;
$cButtonFrom: #ededed;
$cButtonTo: #dfdfdf;
$cButtonBorder: #dcdcdc;